# Configurações do Servidor
PORT=3336
HOST=0.0.0.0

# Ambiente
NODE_ENV=development

# CORS
CORS_ORIGIN="localhost"

# Credenciais / Banco de Dados (Exemplo)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret

# Create role and admin user
ADMIN_DEFAULT_PASSWORD=Admin@123456
CPFADMIN="167.030.850-21"

DATABASE_URL="postgres://root:password@postgres:5432/user_db"

JWT_SECRET="your_secret_here"

# Betterstack token
LOGTOKEN=seu_token_copiado_aqui